body h2, p, span{
    font-family: 'sonar-bangla';
}


.container {
    width: 1200px;
    margin: 0 auto;
}




#loader-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 100px;
    height:100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }


#nav .row{
    background-color: brown;
    border-bottom: 1px solid white; 

}
#nav .nav-body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#nav .nav-body .top, .bottom{
    margin-left: 30px;
}
#nav .nav-body a{
    display: flex;
    color:white;
    padding: 10px;
    font-size: 20px;
    font-family: 'sonar-bangla';
    position: relative;

}
#nav .nav-body a:hover ::before{
    content: '';
    border-bottom: 5px solid rgb(255, 255, 255);
    position: absolute;
    bottom:0;
    left: 0;
    width: 180px;
    margin-left: 5px;
}

#nav .nav-body .bottom li:hover:not(.active) ::before  {
    content: '';
    border-bottom: 5px solid rgb(255, 255, 255);
    position: absolute;
    bottom:-5px;
    left: 0;
    width: 100%;
    margin-left: 5px;
}
#nav .nav-body .bottom li.active{
    border-bottom: 5px solid rgb(255, 255, 255);
    bottom:-2px;
    left: 0;
    width: 100%;
    margin-left: 5px;
}

#nav .nav-body ul{
    display: flex;

}
#nav .nav-body .top{
    display: flex;
    justify-content: center;
}
#nav .nav-body .top h3 span{
    color: brown;
    background-color: white;
    padding: 2px 4px;
    align-self: center;
    font-size: 20px;
    margin: 0;
}

#nav .nav-body .top span{
    align-self: center;
    margin: 0 8px;
    font-size: 20px;
}




/* #nav .nav-body .top span{
    
} */
.common-heading{
    width: 100%;
}
.common-heading h2{
    /* border: 1px solid black; */
    padding:10px 15px;
    position:relative;
    font-size: 35px;
    font-family: 'sonar-bangla';
    color:rgba(0, 0, 0, 0.651);
   
}
.common-heading h2::after{
    position:absolute;
    content:"___________________________________________________";
    bottom: 10px; 
    left: 200px;
  
}

#top-news .top{
    display: flex;
    padding: 10px;
}#top-news .top:hover h2{
    text-decoration: underline;
}
#top-news .top img{
    margin-left: -25px;
    

}
#top-news .top h2{
    padding:2px 20px 20px 20px;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-family: 'sonar-bangla';
    font-size: 35px;
    font-weight: 600;
    width: 100%;
    /* border: 1px solid black; */
}
#top-news .top p{
    padding:2px 20px 20px 20px;
    font-size: 20px;
    letter-spacing: 1px;
    color: black;
}
#top-news .top span{
    font-size: 15px;
    padding:2px 20px 20px 20px;
    color: black;
}
/* #top-news-two{

} */

#top-news-two a{
   margin: 10px auto; 
   box-sizing: border-box;
}
#top-news-two a:hover{
    text-decoration: underline;
}
#top-news-two img{
    width: 100%;
}
#top-news-two h2{
    margin:5px auto;
    width: 230px;
    color: black;
    font-size: 20px;
    line-height: 25px;
  
}
#top-news-two a span{
    font-size:15px;
    color:black
}
#top-news-two h2{
    font-family: 'sonar-bangla';
    font-weight: 00;
    letter-spacing: 1px;;
}
#top-news-two a:hover h2{
    text-decoration-color: black;
    text-decoration: underline;
}
.white-spach{
    height: 400px;
    background-color: rgba(202, 202, 202, 0.171);
    margin: 20px 0;;
}
#corona-virus{
    margin:15px 0;
}
#corona-virus a{
    margin: 10px auto;
    color: black;
}
#corona-virus a:hover h2{
    text-decoration: underline;
    text-decoration-color: black;
}
#corona-virus img{
    width: 100%;
    height: 150px;
}
#corona-virus a h2{
    margin: 5px 0;
    width: 230px;
    font-size: 20px;
}
#corona-virus span{
    font-size:15px;
}
#audio{
    margin:35px 0;
    
}
#audio a{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
#audio video{
    width: 100%;
    height: 200px;
    /* border:1px dotted; */
    margin-right: 15px;
}
#audio a h2{
    color: black;
    font-size: 40px;
    font-family: 'sonar-bangla';
    text-decoration: underline;
    letter-spacing: -2px;
    font-weight: 600;
    
}
#audio a p{
   font-size: 20px;
   margin: 10px 0;
   color: black;

}

#audio .row2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
#audio .row2 a{
    display: block;
    /* border: 1px solid; */

}

#audio .row2 a h2{
    font-family: 'sonar-bangla';
    font-size:20px;
    letter-spacing: .3px;

}
#audio .row2 p{
    text-align: left;
    display: none;;
}
#audio span{
    font-size: 15px;
    color: black;
}




#letter{
    margin-bottom: 35px;
    font-family: 'sonar-bangla';
}

#letter a{
    margin-top: 15px;
}
#letter a:hover h2{
    text-decoration: underline;
    text-decoration-color: black;
}
#letter a h2{
    font-size: 35px;
    font-family: 'sonar-bangla';
    color: black;
    font-weight: 600;
    text-align: left;

}
#letter a p{
    font-size: 20px;
    font-family: 'sonar-bangla';
    margin: 10px 0;
    color: black;
}
#letter span{
    font-size: 15px;
    color:black;
}



#report{
    margin-bottom: 35px;
}
#report a{
    margin-top: 15px;
}

#report a:hover h2{
    text-decoration: underline;
    text-decoration-color: black;
}
#report a h2{
    font-size:35px;
    font-family: 'sonar-bangla';
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
    ;
}
#report a p{
    font-size: 20px;
    font-family:'sonar-bangla';
    margin: 10px 0;
    color: black;
}
#report a span{
    font-size: 15px;
    color: black;
}



#history{
    margin-bottom: 35px;
}
#history a{
    margin-top: 15px;
}
#history a h2{
    font-size:35px;
    font-family: 'sonar-bangla';
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}
#history a:hover h2{
    text-decoration: underline;
}
#history a p{
    font-size: 20px;
    font-family: 'sonar-bangla';
    margin:10px 0;
    color: black;
}
#history a span{
    font-size: 15px;
    color:black;
}




#other{
    margin-bottom: 35px;
}
#other .row{
    margin: 10px 0;
}
#other a{
    display: block;
    color: black;
    margin-top: 15px;
}
#other a img{
    width:100%;
}
#other a h2{
    font-family: 'sonar-bangla';
    font-size: 20px;
    margin:3px 0;
    width: 100%;
    margin: 5px 0;
    
}
#other a span{
    font-size: 15px;;
}
#other a:hover {
    text-decoration: underline;
}





#photo{
    margin-bottom: 35px;
}
#photo a{
    margin-top: 15px;
    display: flex;
    color: black;
}
#photo a div{
    margin-left: 15px;
}
#photo a h2{
    font-size:30px;
    font-family: 'sonar-bangla';

}
#photo a p{
    font-size: 20px;
    margin:10px 0;
}
#photo a span{
    font-size: 15px;
}
#photo a:hover h2{
    text-decoration: underline;
}



#archive{
    /* margin-top: 15px; */
    margin-bottom: 15px;
}
#archive a{
    display: flex;
    color:black;
    margin-top: 15px;
}
#archive a h2{
    font-family: 'sonar-bangla';
    font-size: 35px;
}
#archive a p{
    font-size: 20px;
    margin: 10px 0;
}
#archive a span{
    font-size: 15px;
}
#archive a:hover h2{
    text-decoration: underline;
}


#archive .archive_two ‍a {
    display: block;
}
#archive .archive_two a img{
    width: 100%;
    
}

#top_footer{
    background-color: brown;
    display: flex;
    justify-content: flex-start;
}
#top_footer .row{
    margin-left: 40px;
}
#top_footer a{
    display: flex;
    align-content:center;
    align-items:center;
    position: relative;

}
#top_footer a span{
    padding: 0 5px;
    line-height: normal;
    margin: 5px;
    background-color: white;
    color:inherit;
    font-size: 25px;
    align-self: center;
}
#top_footer a p{
    color: white;
    font-size: 25px;
    margin-left: 5px;
    padding:25px;
    align-self:center;
}
#top_footer a:hover ::before{
    content: "";
    width:300px;
    border-bottom: 5px solid rgb(255, 255, 255);
    position:absolute;
    bottom:0px;
    left: 0px;
}


#footer{
    background-color:#222222;
}
#footer .row{
    padding: 30px 0;
    margin-left: 40px;
}
#footer .row:nth-child(2){
    border-top: 1px solid gray;
    border-bottom: 1px solid gray; 
}
#footer .row:nth-child(2) a{
    padding: 20px 0;
}

#footer a{
    color: white;
    font-family: 'sonar-bangla';
    font-size: 20px;
    font-weight: 600;
}
#footer a:hover{
    text-decoration: underline;
}
#footer span{
    color:white;
    font-size: 20px;
    font-family: 'sonar-bangla';
}